<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beer_club.name} #{@beer_club.city}" %>
</h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

  <h3>Members</h3>

<% if @beer_club.members.any? %>
    <p> no members! </p>
    <%else%>

  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
      <%= link_to member.username, member %>
      </li>
    <% end %>
  </ul>

<% end %>

<% if current_user %>

    <% if @membership.user_id.nil? %>

        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:"Join the club" %>

        <% end %>
    <% else %>

        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:"End the membership" %>

        <% end %>
    <% end %>

  <!--<p>-->
    <!--no members-->
  <!--</p>-->


<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>