<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>



<% if @user.ratings.empty? %>
    byebug
    <p>Has not rated any beers yet!</p>
<% else %>
    <p>Has rated <%= pluralize(@user.ratings.count, "beer") %>, average <%= @user.average_rating %>

    <h2>Ratings</h2>

    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<% if @user == current_user %>
    <%= link_to 'Edit info', edit_user_path(@user) %>
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

