<p id="notice"><%= notice %></p>

<p>
<h2> <strong><%= @beer.name %></strong> </h2>
</p>


<p>
  <strong><%= @beer.style %></strong>
  
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>

</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
